main section {
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#agregarciudad {
    height: 5vh;
    font-size: 16px;
    border-radius: 8px;
    padding: 0px 5px;
    margin: 5px 0;
}

.mensajes-items:first-child {
    background-color: #28a745;
}

.mensajes-items:last-child {
    background-color: #ffc107;
}