main section {
    margin-top: 0;
}

.section_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-ayuda {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 310px;
    text-align: center;
}

.form_input {
    border: 1px solid black;
    border-radius: 5px ;
}

label {
    text-align: left;
    margin-left: 3px;
}

textarea {
    border-radius: 5px;
    resize: none;
}

input[type=submit] {
    position: relative;
    margin: 10px;
}

input, textarea{
    text-decoration: none;
    padding: 5px;
}